/* CSS  */
body, h1 {
  margin: 0;
  padding: 0;
  color: #333;
}

h1 {
  text-transform: uppercase;
}

section:focus {
  outline: none;
  outline-color: transparent;
}

/* Game view */
.hide{
  display: none;
}

.word-search-container {
  margin: 0 auto;
  padding: 40px 0;
  text-align: center;
  user-select: none;
}

.title {
  margin-bottom: 40px;
}

/* Wordsearch */
.word-search {
  display: inline-block;
  background: #fafafa;
  padding: 20px;
  cursor: pointer;
  line-height: 0;
}

.hints {
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
  text-align: left;
}

.hint {
  margin-bottom: 4px;
}

.hints ::first-letter{
  text-transform: capitalize;
}

/* Wordsearch */
.word-search {
  background: #fafafa;
  display: inline-block;
  padding: 20px;
  border-radius: 10px;
}

.ws-row {
  line-height: 0;
}

.ws-col {
  cursor: pointer;
}

.ws-col.ws-selected {
  background: #F00;
}

.ws-found {
  background: #FFFF00;
}

.ws-game-over-outer {
  background-color: rgba(0, 0, 0, 0.85);
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
}

.ws-game-over-inner {
  width: 100%;
  height: 100%;
  display: table;
}

.ws-game-over {
  display: table-cell;
  vertical-align: middle;
}

.ws-game-over h2 {
  color: #fff;
  font-size: 2em;
  text-transform: uppercase;
  padding: 0;
  margin-right: 9px;
}

.ws-game-over p {
  color: #fff;
  font-size: 1em;
  padding: 0;
  margin: 0;
}
